PORT=5000
MONGO_URI=mongodb+srv://arpitjangiddev_db_user:9yRB8LXxCLAY2zzN@cluster0.y1ek2b0.mongodb.net/?appName=Cluster0
JWT_SECRET=e2606afe90eb192a63a6e206a345c988
JWT_EXPIRE=7d

CLOUDINARY_CLOUD_NAME=dde6yxgnp
CLOUDINARY_API_KEY=541666166528443
CLOUDINARY_API_SECRET=yWbOW9XqTSlDqduTRbIZQEquIKI

NODE_ENV=development
